<header class="site-footer">
  <div class="container">
    <nav class="footer-nav" aria-label="Hauptmenü">
      <ul>
        <li>
          <a href="{{ "impress/" | relLangURL }}" {{ if eq .RelPermalink "/impress/" }}class="active" aria-current="page"{{ end }}>
            {{ i18n "impress" }}
          </a>
        </li>
        <li>
          <a href="{{ "legal/" | relLangURL }}" {{ if eq .RelPermalink "/legal/" }}class="active" aria-current="page"{{ end }}>
            {{ i18n "legal" }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>